<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/jpg" href="./assets/favicon.png">
  <title>CSCI 467 Transaction Monitor</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="./assets/nprogress.css" rel="stylesheet" />
  <script src="./assets/nprogress.js"></script> 
</head>

<body>
  <div id="app">
    <div class="nav-bar">
      <li class="banner">CSCI 467 Transaction Monitor</li>
      <li class="item" v-on:click="content='orders'" :class="{ 'text-red': content=='orders' }">Orders</li>
      <li class="item" v-on:click="content='credits'" :class="{ 'text-red': content=='credits' }">Credits</li>
    </div>
    <div class="content" v-if="content=='orders'">
      <orders></orders>
    </div> 
    <div class="content" v-if="content=='credits'">
      <credits></credits>
    </div> 
  </div>

  <!-- Create App -->
  <script>
    const app = Vue.createApp(
      {
        data() {
          return {
            content: "orders"
          }
        } 
      }
    )
  </script>
  <!-- Import Components -->
  <script src="./components/common.js"></script>
  <script src="./components/Orders.js"></script>
  <script src="./components/Credits.js"></script>
  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')   
  </script>
</body>

</html>